.heading-primary {
  font-size: 3.5rem;
  color: $color-very-dark-blue;
  text-transform: capitalize;
}

.heading-tertiary {
  color: $color-dark-grayish-blue;
  font-size: 1.3rem;
  font-weight: normal;
}
