.u-mr-small {
  margin-right: 1.5rem !important;
}

.u-color-orange-bold {
  color: $color-orange !important;
}

.u-color-orange {
  color: $color-orange !important;
}

.u-font-small {
  font-size: 1.3rem !important;
}

.u-bold {
  font-weight: 700 !important;
}

.u-ls-2 {
  letter-spacing: 0.2rem !important;
}

.u-mt-small {
  margin-top: 2rem !important;
}

.u-mt-medium {
  margin-top: 3rem !important;
}
