.product-component {
  width: 80%;
  height: 90vh;
  margin: auto;
  // background-color: #fece2f;

  display: flex;
  flex-direction: column;

  @include respond(phone) {
    width: 100%;
    height: 100vh;
  }
}
