.btn {
  padding: 1.5rem 7rem;
  text-align: center;
  background-color: $color-orange;
  font-size: 1.4rem;
  color: $color-light-grayish-blue;
  border-radius: 1rem;
  cursor: pointer;

  @include respond(phone) {
    min-width: 100%;
    padding: 2rem 0;
  }
}
