.cart-item {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__image {
    height: 100%;
    border-radius: 0.5rem;
  }

  &__description {
    color: $color-dark-grayish-blue;
    font-size: 1.3rem;
    font-weight: normal;

    &__text {
      margin-top: 5px;

      span {
        color: $color-very-dark-blue;
        font-weight: 700;
      }
    }
  }

  &__delete {
    cursor: pointer;
  }
}
