.drawer {
  width: 60vw;
  height: 100%;
  position: relative;

  &__nav {
    margin-left: 3rem;
    margin-top: 9rem;

    &__list {
      list-style: none;

      &__item {
        font-weight: 700;
        margin-top: 2rem;
        font-size: 1.8rem;
        cursor: pointer;
      }

      &__item:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}

.icon-close {
  cursor: pointer;
  margin-left: 3rem;
  margin-top: 1rem;
}
