.product-section {
  padding: 10rem 6rem;

  @include respond(phone) {
    padding: 0;
  }

  &__main {
    display: flex;
    height: 100%;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__main__images {
    max-width: 50%;
    position: relative;

    &__cover {
      width: 80%;
      border-radius: 1.5rem;
      cursor: pointer;

      @include respond(phone) {
        width: 100%;
        border-radius: 0;
      }

      &--previous {
        position: absolute;
        left: 1.5rem;
        top: 45%;

        @include arrows;
        display: none;

        @include respond(phone) {
          display: block;
        }
      }

      &--next {
        position: absolute;
        right: 1.5rem;
        top: 45%;

        @include arrows;
        display: none;

        @include respond(phone) {
          display: block;
        }
      }
    }

    &__thumb {
      width: 80%;
      display: flex;
      align-items: baseline;
      margin-top: 3rem;
      cursor: pointer;
      transition: all 0.2s;

      img {
        width: 21.5%;
        border-radius: 1.5rem;
        margin-right: 2rem;

        &:hover {
          opacity: 0.6;
        }
      }

      &--img-selected {
        opacity: 0.6;
        outline-offset: 1px;
        outline: 2px solid $color-orange;
      }

      @include respond(phone) {
        display: none;
      }
    }

    @include respond(phone) {
      min-width: 100%;
    }
  }

  &__main__content {
    max-width: 50%;

    padding: 5rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include respond(phone) {
      min-width: 100%;
      padding: 5rem 4rem;
    }

    &__description {
      width: 80%;
      font-size: 1.5rem;
      line-height: 1.7;
      color: $color-grayish-blue;

      @include respond(phone) {
        width: 90%;
        font-size: 1.7rem;
      }
    }

    &__price-bar {
      display: flex;
      align-items: center;

      p {
        margin-right: 2rem;
        font-size: 2rem;

        @include respond(phone) {
          font-size: 3rem;
        }
      }

      span {
        font-size: 1.3rem;
        font-weight: 700;

        @include respond(phone) {
          font-size: 2rem;
        }
      }
    }

    &__old-price {
      color: $color-grayish-blue;
      text-decoration: line-through;
      margin-top: 1rem;
      font-size: 1.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &__cart {
      display: flex;
      align-items: center;

      @include respond(phone) {
        flex-direction: column;
      }

      &__counter {
        margin-right: 3rem;
        display: flex;

        @include respond(phone) {
          min-width: 100%;
          text-align: center;
          margin-right: 0;
          justify-content: space-around;
          margin-bottom: 2rem;
        }

        &--count {
          font-size: 2rem;
        }

        span {
          cursor: pointer;

          &:not(:last-child) {
            margin-right: 3.5rem;
          }
        }
      }
    }
  }
}
